<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dengue Disease Detector</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo"><b>Dengue Disease Detector</b></div>
    </nav>
    <main>
      <form action="{{ url_for('index') }}" method="POST">
        <table>
          <tr>
            <td><label for="inputTemperature">Temperatur Tubuh: </label></td>
            <td>
              <input
                type="range"
                min="36"
                max="42"
                value="36"
                class="temperature-slider"
                name="inputTemperature"
                id="input-temperature"
                step="0.1"
              />
            </td>
            <td>
              <div id="output-temperature"></div>
            </td>
          </tr>
          <tr>
            <td><label for="inputHeadacheLevel">Headache Level: </label></td>
            <td>
              <input
                type="number"
                name="inputHeadacheLevel"
                id="input-headache-level"
                step="0.5"
                value="0"
                min="0"
                max="10"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="inputEyepainLevel"
                >Level of Pain Behind The Eye:</label
              >
            </td>
            <td>
              <input
                type="number"
                name="inputEyepainLevel"
                id="input-eyepain-level"
                step="0.5"
                value="0"
                min="0"
                max="10"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="inputMuscleJointPainLevel"
                >Level of Muscle Joint Pain:
              </label>
            </td>
            <td>
              <input
                type="number"
                name="inputMuscleJointPainLevel"
                id="input-musclejointpain-level"
                step="0.5"
                value="0"
                min="0"
                max="10"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td><label for="inputNauseaLevel">Nausea Level: </label></td>
            <td>
              <input
                type="number"
                name="inputNauseaLevel"
                id="input-nausea-level"
                step="0.5"
                value="0"
                min="0"
                max="10"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Vomiting:</td>
            <td>
              <input
                type="radio"
                name="inputVomiting"
                id="vomit-yes"
                value="1"
              />
              <label for="inputVomiting">Yes</label>
            </td>
            <td>
              <input
                type="radio"
                name="inputVomiting"
                id="vomit-no"
                value="0"
                checked
              />
              <label for="inputVomiting">No</label>
            </td>
          </tr>
          <tr>
            <td>Swollen Gland:</td>
            <td>
              <input
                type="radio"
                name="inputSwollenGland"
                id="swollen-gland-yes"
                value="1"
              />
              <label for="inputSwollenGland">Yes</label>
            </td>
            <td>
              <input
                type="radio"
                name="inputSwollenGland"
                id="swollen-gland-no"
                value="0"
                checked
              />
              <label for="inputSwollenGland">No</label>
            </td>
          </tr>
          <tr>
            <td>Rash:</td>
            <td>
              <input type="radio" name="inputRash" id="rash-yes" value="1" />
              <label for="inputRash">Yes</label>
            </td>
            <td>
              <input
                type="radio"
                name="inputRash"
                id="rash-no"
                value="0"
                checked
              />
              <label for="inputRash">No</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" name="Submit" id="submit" />
            </td>
          </tr>
        </table>
      </form>
    </main>
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
    {% if result %}
    <p id="result">Result: {{ result }}</p>
    <br />
    <p id="data">Data: {{ data }}</p>
    {% endif %}
  </body>
</html>
